<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Blogs Page</h1>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resignation">Resignation Letter</a></li>
    </ul>
    <h2>What's in your mind?</h2>
    <form action="/" method="POST">
        <label>Title</label> <br>
        <input type="text" name="title"><br>
        <label>Content</label><br>
        <textarea type="text" name="content" id="" cols="30" rows="10"></textarea><br>
        <!-- {% with messages = get_flashed_messages() %} {% if messages %}
        <div>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %} {% endwith %} -->
        <button type="submit">Add new post</button>  
    </form>   

    
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %} {% endwith %}

    {% for i in cur: %}

    <h2> All POST</h2>
        <p>Post at:   {{ i[3] }}
        
        <div>
            <h4>{{ i[1] }}</h4>
            <h4>{{ i[2] }}</h4>
            <a href="/blog/{{ i[0] }}">Edit this post</a>
        </div>
        <br>
        <form  action="/delete/{{ i[0]}}" method="POST" >
            <button>Delete</button>
     
            
        </form>
    {% endfor %} 
    </p>

</body>
</html>